---
import '@styles/global.css'
import type { NavigationItem } from '../../data/navigation';
import NavigationMenuItem from './NavigationMenuItem.astro';

export interface Props {
 navigationItems: NavigationItem[]
}

const { navigationItems } = Astro.props;
---

<nav>
  <ul class="navigationItems">
    {navigationItems.map(navigationItem => 
      <NavigationMenuItem {...navigationItem} />
    )}
  </ul>
</nav>

<style>
  .navigationItems {
    display: flex;
    width: 100%;
    position: relative;
    list-style: none;
    padding-left: 0;
    height: 4rem;
  }
</style>
